name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  install_dependencies:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.18.0'
      - name: Install dependencies
        run: npm ci
        working-directory: ./movies

  bundle_app:
    runs-on: windows-latest
    needs: [install_dependencies]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install npm
        run: npm install 
      - name: Build app
        run: npm run build
        working-directory: ./movies

  e2etest:
    runs-on: windows-latest
    needs: [bundle_app]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Cypress tests
        uses: cypress-io/github-action@v2
        with:
          start: 'npx serve -s ./app/build -l 3000 &'
          wait-on: 'http://localhost:3000'
          browser: chrome
